main {
width: 70%;
background-color: $colorMain;
margin: 30px auto;
padding: 15px;

	header {
	background: url(../images/back1.jpg);
	background-size: 100%;
	padding: 30px 20px;
	background-position: -200px top;
	text-align: right;
	font-size: 2.5rem;


		h1 {
		@extend %main;
		text-align: right;
		font-size: 2.5rem;


			span {
			color: red;
			}
		}
	}
}

main {
	section{
	margin-top: 20px;
	display: flex;
	justify-content: space-between;

		article{
		margin-bottom: 20px;
		width: 30%;

			h2 {
			text-align: left;
			font-size: 2rem;
			margin-bottom: 10px;
			padding: 10px 5px;
			color: $colorMain;

			p {
			font-size: 1.2rem;
			line-height: 130%;
			margin-bottom: 10px;
			padding: 0 5px;
			
			}
			}
		}
	}
}